---
title: Les entreprises
---
<div class="text-center padded">
<h1> Les membres </h1>	
<ul class="list-inline">
	<li>
	<%= image_tag("eLegrand.jpg", height:"200" , width:"200" ,class: "img-circle") %>
		<h3>Estelle Legrand</h3>
		<p>Ingredia</p>
	</li>
	<li>
		<img src="http://placehold.it/200x200" class="img-circle">
		<h3>Jack</h3>
		<p>Ingredia</p>
	</li>
	<li>
		<img src="http://placehold.it/200x200" class="img-circle">
		<h3>Remy</h3>
		<p>Ingredia</p>
	</li>
</ul>
</div>